<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><img src="../public/images/logo-01.png">Chef's Gate</title>

</head>
<body>
    <header>Header test</header>
    <nav>
        <a href="/">Home</a>
        <a href="/aboutus">About Us</a>
        <a href="/contactus">Contact Us</a>
        <a href="/recipes">Recipes</a>
        <a href="/blog">Blog</a>

    </nav>

    <%- body %>

    <footer>Footer test</footer>
    
</body>
</html>