<h1>About Chef's Gate</h1>
<picture>
    <source media="(min-width:650px)" srcset="/images/logo-01.png">
    <source media="(min-width:465px)" srcset="/images/logo-01.png">
    <img src="images/recipe1.png" width="50%" height="50%" alt="Flowers" style="width:auto;">
  
  </picture> 
<article>
    <h3>Who We Are</h3>
    <img src="images/recipe1.png" width="50%" height="50%" alt="Followers">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus impedit fugit corrupti. Rerum excepturi praesentium sapiente laudantium? Officiis dolor, eos ipsa cumque, doloribus labore cupiditate quis eligendi placeat, iure eaque est accusamus omnis odio provident aut harum quibusdam unde inventore vel nisi? Autem quasi qui, iure impedit est tenetur quibusdam dolore, amet iusto at molestias itaque laborum, neque ratione illo earum soluta obcaecati illum repellat placeat similique! Impedit sequi dolore illum sit, quaerat nam in debitis sint amet quibusdam corrupti nostrum sapiente facilis. Animi quod consequuntur saepe. Non nulla eveniet, molestias sapiente voluptas autem, quasi voluptatibus veniam, repudiandae quam tempora.</p>
</article>

<article>
    <h3>Recipe Development</h3>
    <img src="images/recipe2.png" width="50%" height="50%" alt="Followers">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus impedit fugit corrupti. Rerum excepturi praesentium sapiente laudantium? Officiis dolor, eos ipsa cumque, doloribus labore cupiditate quis eligendi placeat, iure eaque est accusamus omnis odio provident aut harum quibusdam unde inventore vel nisi? Autem quasi qui, iure impedit est tenetur quibusdam dolore, amet iusto at molestias itaque laborum, neque ratione illo earum soluta obcaecati illum repellat placeat similique! Impedit sequi dolore illum sit, quaerat nam in debitis sint amet quibusdam corrupti nostrum sapiente facilis. Animi quod consequuntur saepe. Non nulla eveniet, molestias sapiente voluptas autem, quasi voluptatibus veniam, repudiandae quam tempora.</p>
</article>

<article>     
    <h3>Third Title</h3>
    <img src="images/recipe1.png" width="50%" height="50%" alt="Followers">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus impedit fugit corrupti. Rerum excepturi praesentium sapiente laudantium? Officiis dolor, eos ipsa cumque, doloribus labore cupiditate quis eligendi placeat, iure eaque est accusamus omnis odio provident aut harum quibusdam unde inventore vel nisi? Autem quasi qui, iure impedit est tenetur quibusdam dolore, amet iusto at molestias itaque laborum, neque ratione illo earum soluta obcaecati illum repellat placeat similique! Impedit sequi dolore illum sit, quaerat nam in debitis sint amet quibusdam corrupti nostrum sapiente facilis. Animi quod consequuntur saepe. Non nulla eveniet, molestias sapiente voluptas autem, quasi voluptatibus veniam, repudiandae quam tempora.</p>
</article>

<article>
    <h3>4th title</h3>
    <img src="images/breakfast2.png" width="50%" height="50%" alt="Followers">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus impedit fugit corrupti. Rerum excepturi praesentium sapiente laudantium? Officiis dolor, eos ipsa cumque, doloribus labore cupiditate quis eligendi placeat, iure eaque est accusamus omnis odio provident aut harum quibusdam unde inventore vel nisi? Autem quasi qui, iure impedit est tenetur quibusdam dolore, amet iusto at molestias itaque laborum, neque ratione illo earum soluta obcaecati illum repellat placeat similique! Impedit sequi dolore illum sit, quaerat nam in debitis sint amet quibusdam corrupti nostrum sapiente facilis. Animi quod consequuntur saepe. Non nulla eveniet, molestias sapiente voluptas autem, quasi voluptatibus veniam, repudiandae quam tempora.</p>
</article>