<h1>Chef's Blogs</h1>

<section>
    <img src="/public/images/logo-01.png">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero minima cupiditate, est atque optio in ut nisi nostrum doloremque, non deserunt magni illum laboriosam suscipit ipsa culpa tempore adipisci nam temporibus esse laborum sit quaerat.</p>

</section>