<form method="POST">
    <div>
        <h2>Send us a message</h2>
        <input type="text" placeholder="Your name"><br><br>
        <input type="email" placeholder="Email address"><br><br>
        <input type="text" placeholder="Subject"><br><br>
        <p>Please let us know how can we help!</p>
        <input type="text" placeholder="Description"><br><br>
    </div>
</form>