<header id="header1"></header> 
<h1>Recipes & Cooking Ideas</h1>
<a href="">Breakfast</a>
<a href="">Lunch</a>
<a href="">Dinner</a>
<a href="">Drinks</a>

<h1> Add Recipe </h1>

<!--dropdown menu: option 
    
    <form method="POST" action="/recipe/add">
    <label for="recipe">Choose a catagory:</label>
    <br>
    <select id="catagory" name="catagory">
      <option value="breakfast">Breakfast</option>
      <option value="lunch">Lunch</option>
      <option value="dinner">Dinner</option>
      <option value="appitizer">Appitizer</option>
      <option value="dessert">Dessert</option>
      <option value="beverage">Beverage</option>
    </select> -->
<br><br>
<div id="reci-info">
    <div class="form-group" id="box-recipe1">
        <label>Recipe Owner</label>
        <input type="text" name="text" class="form-control">
    </div>

    <div class="form-group" id="box-recipe2">
        <label>Dish title</label>
        <input type="text" name="emailAddress" class="form-control">
    </div>

    <div class="form-group" id="box-recipe3">
        <label>Cooking Time</label>
        <input type="text" name="text" class="form-control">
    </div>

    <div class="form-group" id="box-recipe4">
        <label>Ingredients</label>
        <input type="text" name="text" class="form-control">
    </div>
</div>
<br>
<a href="#" class="btn btn-warning btn-dark btn-1g">Submit Recipe</a>
<br>

    <br>
    <p>Live cooking with fresh ingredients!</p>
<!-- The # stands for: add page to driect: author needs to be declared -->
    <div class=" row row-cols-4  ">
        <a href="/recipe/add" clas="category_link">
            <div class="pic-1 pic-1--largest shadow">
                <img src="/images/cheflatest/5.jpg" >
            </div> 

            <a href="/recipe/add" clas="category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/cheflatest/1.jpg">    
        </div>
        <a href="/recipe/add" clas="category_link">
            <div class="pic-1 pic-1--largest shadow">
                <img src="/images/cheflatest/2.jpg">
            </div>
            <a href="/recipe/add" clas="category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/cheflatest/3.jpg">
                </div>
        </a>
    </div>
    <br><br>
<br><hr><br><br>


<br>
    <!-- <button type="submit" class="btn btn-Success">Create Recipe</button> -->
<p>Want to hone your cooking skill or are you looking to learn new tasty recipes?</p>
</form>
<section class="px-4 py2 my-2 text-center">
    <img src="/images/recipe1.png" alt="" width="400" height="400">
    <h3 class="display-6 fw-bold">Sign up to join our kitchen and publish your recipe TODAY!</h3>
    
</section>
<button type="button" class="btn btn-warning" onclick="window.location.href='/auth/signup';">Sign-up</button>          </div>

<br><hr>
<!-- recipe container -->
<!-- <section class="recipe-container"> -->
<!-- tag: Add forms on details at Recipe folder  -->
<!-- <div class="tag-container">
    <h4>Recipes</h4>

    <div class="tags-list">
        <a href="/views/recipe/details.ejs">Breakfast</a>
        <a href="/views/recipe/details.ejs">Hot Drinks</a>
        <a href="/views/recipe/details.ejs">Lunch</a>
        <a href="/views/recipe/details.ejs">Dessert</a>
        <a href="/views/recipe/details.ejs">Dinner</a>
    </div>
</div> -->
<!-- list  -->
<!-- <div class="recipe-list"></div> -->
</section>

<!-- <section id="section-latest">
    <div type="search" name="search" id="search--recipes" placeholder="Search">
    </div>
    <div class="row row-cols-4 ">
        <a href="/recipe/add" clas="category_link">
            <div class="pic-1 pic-1--largest shadow cent">
            <div id="bahraini">
                <img src="/images/food/indian-food.jpg" >
            </div> 
        </div> -->
            <!-- <h2>Bahraini Recipes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing!</p>
            <br> -->
        <!-- <div id="italian">
            <a href="/recipe/add" clas="category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/food/italian.png">    
        </div>
    </div>
</a>
        <br>
        <div id="mex">
        <a href="/recipe/add" clas="category_link">
            <div class="pic-1 pic-1--largest shadow">
                <img src="/images/food/mexican-food.jpg">
            </div>
        </div>
    </a>
            <br>
            <div id="america">
            <a href="/recipe/add" clas="category_link">
                <div class="pic-1 pic-1--largest shadow">
                    <img src="/images/food/american-food.jpg">
                </div>
            </div>
        </a>
    </div>
    <br><br> -->

</section>
